body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#topo {
    background: #f1f1f1;
    padding: 0.2%;
}

#topo a {
    float: right;
    color: #333;
    display: block;
    padding: 4px 6px;
}

#topo i{
  float: right;
  padding: 0.5%;
}

#header {
    background-color: #f1f1f1;
    padding: 3%;
    text-align: center;
}

#header img{
  text-align: center;
}

/*menu Inicia aqui*/
#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ffdd00;
    color: black;
}

#navbar a.active {
    background-color: #ffdd00;
    color: #333;
}

/*form pesquisa iniia aqui*/

form.example input[type=text] {
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 20%;
    background: #f1f1f1;
}

form.example button {
    float: right;
    width: 4%;
    padding: 14px 16px;
    background: #ffdd00;
    color: #333;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/*Fim menu*/


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 35%;
}
